* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lovers Quarrel", cursive;
}
body {
  background-color: #ff9a90;
  background-color: #191919;
  color: #ffffff;
  overflow-x: hidden;
}
.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.exit {
	-webkit-animation: slit-out-horizontal 1s ease-in both;
	        animation: slit-out-horizontal 1s ease-in both;
}

 @-webkit-keyframes slit-out-horizontal {
    0% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
      opacity: 1;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
  }
  @keyframes slit-out-horizontal {
    0% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
      opacity: 1;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
  }
  
  

.hat {
  object-fit: cover;
  height: 85%;
  z-index: 5;
  /* border: 1px solid pink; */
}

.title {
  letter-spacing: 1vw;
  font-size: 7vw;
  z-index: 10;
}
.enter {
  font-size: 2vw;
  padding: 8px 15px;
  border: 2px solid yellow;
  border-radius: 1vw;
  width: fit-content;
  transition: all 0.4s ease;
  background-color: #272626;
}
.enter:hover {
  border-color: #f3705a;
  background-color: unset;
}
.letter {
  transition: color 0.4s ease;
}
.letter:hover {
  color: #f3705a;
}
.balloon {
  width: 25vw;
}
@media only screen and (max-width: 580px) {
  .hat {
    display: none;
  }
  .landing {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 50px;
    letter-spacing: 8px;
  }
  .enter {
    font-size: medium;
    border-radius: 10px;
    padding: 6px 12px;
  }
  .balloon {
    width: 180px;
  }
}
