.artist{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.caption{
    width:40%;
    display: flex;
    justify-content: center;
    font-size: 70px;
}
.next{
    font-size: large;
    color: #f3705a;
    align-self: flex-end;
    padding: 0 8px;
    border: 1px solid #f3705a;
    border-radius: 6px;
}
.next:hover{
    background-color: rgb(46, 40, 40);
}
.caption p{
    -webkit-animation: tracking-in-contract 0.8s ease 1s both;
            animation: tracking-in-contract 0.8s ease 1s both;
}
 @-webkit-keyframes tracking-in-contract {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.artist img{
    width: 60%;
    min-height: 100%;
    object-fit: cover;
    transition: all 1s ease;
    -webkit-animation: slit-in-diagonal-2 1s ease-out both;
    animation: slit-in-diagonal-2 1s ease-out both;
}

 @-webkit-keyframes slit-in-diagonal-2 {
    0% {
      -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
              transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    24% {
      -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
              transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes slit-in-diagonal-2 {
    0% {
      -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
              transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    24% {
      -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
              transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
@media only screen and (max-width:700px){
    .artist img{
        width: 70%;
    }
    .caption{
        width: 30%;
        flex-direction: column;
    }
    .next{
        margin-right: 40px;
    }
}